
body, html {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1e2857; 
    color: rgb(255, 255, 255); 
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__information {
    font-size: 1px;
}

.header__login img {
    width: 0px; 
    height: 8px;
    border-radius: 50%; 
}


.header_ {
    background-color: rgb(93, 179, 201);
    padding: 20px;
    margin-top: 20px;
}
