
body, h1, p, img {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(25, 218, 224);
    padding: 20px; 
    text-align: center; 
}

.header__information {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header__information img {
    width: 100px; 
    height: auto; 
}

.header__information h1 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.header__information p {
    font-size: 18px;
    margin-bottom: 5px; 
}
.header_information2 {
    background-color: #eee; 
    padding: 20px; 
    text-align: center; 
}

.header_information2 h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
}

.header_information2 p {
    font-size: 18px;
    margin-bottom: 5px; 
}

.header_information2 img {
    width: 100px; 
    height: auto; 
}
