<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/checkout.css">
</head>
<body>
    <div class="container">
        <div class="column-menu">
            <p>INVENTO</p>
        </div>
        <div class="column-menu">
            <img src="img/storage/page-1/menu.png" class="menu">
        </div>
    </div>

    <div class="container">
        <div class="column-menu">
            <img src="img/storage/page-1/Ellipse.svg" class="menu">
        </div>
        <div class="column-menu">
            <img src="img/storage/page-1/Ellipse.svg" alt="">
        </div>
    </div>
</body>
</html>
