<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/datail.css">
</head>
<body>
    <div class="container">
        <div class="min-container">
            <div class="colum-start">
                <div class="column">
                    <p>9:41</p>
                </div>
                <div class="column">
                    <img src="/img/storage/page-2/Cellular Connection.png" class="Connection">
                    <img src="/img/storage/page-2/Wifi.png" class="Wifi">
                    <img src="/img/storage/page-2/Battery.png" class="Battery">
                </div>
            </div>
            <div class="Menu">
                <div class="colum-menu">
                    <img src="/img/storage/page-2/Group.png"  class="grupo">
                </div>
                <div class="colum-menu">
                    <p>INVENTO</p>
                </div>
                <div class="colum-menu">
                    <img src="/img/storage/page-2/menu.png" class="menu">
                </div>
            </div>
            <div class="Word">
                <p>
                   Investing Tips
                </p>
            </div>
            <div class="column-money">
                <div class="money">
                    <img src="/img/storage/page-2/Frame 11.png" class="target">
                </div>
            </div>
        </div>
        

        <div class="min-container">

            <div class="Cards">
                <p>My Cards (4)</p>
            </div>
            <div class="card">
                <div class="Account">
                    <img src="/img/storage/page-2/Frame 16.png" class="equipo">
                </div>
                <div class="Account">
                    <img src="/img/storage/page-2/Frame 17.png" class="seguridad">
                    
                </div>
            </div>

        </div>
        <div class="min-container">
            <div class="explore">
                <div class="min-explore">
                    <a href="#">
                <img src="/img/storage/page-1/Home.png" class="casa"></a>
                </div>
                <div class="min-explore">
                    <a href="#"></a>
                    <img src="/img/storage/page-1/library.png" class="libro"></a>
                </div>
                <div class="min-explore">
                    <a href="http://127.0.0.1:5500/views/detail.html">
                    <img src="/img/storage/page-1/window.png" class="window"></a>
                </div>
                <div class="min-explore">
                    <a href="#">
                    <img src="/img/storage/page-1/campana.png" class="campana">  </a>            
                </div>
                <div class="min-explore">
                    <a href="#"></a>
                    <img src="/img/storage/page-1/usuario.png" class="usuario"></a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>